<h1>完成任务，获得铁镐！</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>
        #
      </th>
      <th>
        title
      </th>
      <th>
        description
      </th>
      <th>
        reward
      </th>
    </tr>
  </thead>
  <tbody>
    <% @ptasks.each do |ptask| %>
      <tr>
        <td>
          <%= ptask.id %>
        </td>
        <td>
          <%= ptask.title %>
        </td>
        <td>
          <%= ptask.description %>
        </td>
        <td>
          <%= pluralize(ptask.reward, "pickax") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
