<h1>Dig Ruby!!!!!</h1>

<div class="container-fluid">
  <table class="table">
    <tr>
      <td>
        <%= link_to(" ", "#", class: "btn active lovely") %>
      </td>
      <td>
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
    </tr>
  </table>
</div>
