<h1>The Post</h1>

<h2>单个页面怎样呈现比价好？ something nice to do here</h2>
<hr>

<p>
  id
  <%= @post.id %>
</p>

<hr>

<h2>
  title
  <%= @post.title %>
</h2>

<hr>

<h3>
  description
  <%= @post.description %>
</h3>
