<footer class="container" style="margin-top: 100px;">
	<font color="#f01d1d">
	<nav class="navbar navbar-default" role="navigation">
	    <div class="container-fluid">
	        <!-- Brand and toggle get grouped for better mobile display -->
	        <div class="navbar-header pull-right">
						    <p class="text-center"> Copyright ©2016 RubyRush
        <br>Design by Homer and David

    </p>
</font>
</footer>
